---
layout: page
---
{% for tagitem in site.tags %}
<div id="{{ tagitem[0] }}">
    Posts tagged as: <a href="/tags/#{{tagitem[0]}}"  class="tag">{{tagitem[0]}}</a>

    <ul style="list-style-type:none">
        {% for post in site.posts %}
        {% if post.tags contains tagitem[0] %}
        <li>
            <header class="post-header">
                <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }} <span class="category category-{{ post.category | downcase }}">{{ post.category}}</span></a></h2>
            </header>
            <div class="post-meta">
                Published on <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <hr/>
</div>
{% endfor %}